body {
  background-color: #a8dadc;
  color: #000042;
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.5s;
}

body.finish, button {
  background-color: #e63946;
}

#container {
  background-color: #f1faee;
  width: 85%;
  margin: 50px auto;
  padding: 50px 5px;
  border-radius: 20px;
}

h1 {
  width: 80%;
  text-align: center;
  letter-spacing: 5;
  margin: 0 auto;
  font-size: 6rem;
  border-bottom: 15px solid #a8dadc;
  transition: border-color 0.5s;
}

h1.finish {
  border-bottom: 15px solid #e63946;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

section {
  margin: 0 auto;
}

#game-controls {
  width: 500px;
}

h2 {
  letter-spacing: 2;
  margin: 0 0 10px 0;
  font-size: 3rem;
  line-height: 1;
  display:inline-block;
}

button {
  color: #f1faee;
  padding: 2%;
  border-radius: 15px;
  font-size: 2rem;
  transition: display 0.5s;
  display: none;
  width: 150px;
  margin-left: 20px;
}

#restart {
  margin-left: 30px;
}

button:hover {
  background-color: #a60906;
  cursor: pointer;
}

button.finish {
  display: inline-block;
}

p {
  font-size: 1.5rem;
  text-align: justify;
  display: inline-block;
}


#game-info {
  margin: 40px 0 80px 0;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
}

#game-info span {
  font-size: 2.2rem;
}

#player-one-wins {
  width: 40%;
}

#player-two-wins {
  margin-left: 7%;
}

span {
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}

input, button {
  border: none;
  outline: none;
}


input {
  background-color: inherit;
  width: 100px;
  color: inherit;
  border-bottom: 2px solid #000042;
  font-size: inherit;
  text-align: center;
  font-weight: 600;
}

input:disabled {
  color: grey;
  border-bottom: 2px solid grey;
  background-color: inherit;
  cursor: default;
}

table {
  border-collapse: collapse;
}

td {
  color: #f1faee;
  height: 180px;
  width: 180px;
  border: 5px solid #1d3557;
  text-align: center;
  font-size: 2rem;
  transition: color 0.5s;
}

td:hover, input:hover {
  color: #a8dadc;
  background-color: #a8dadc;
  cursor: pointer;
}

input:hover {
  color: #000042;
}

td.finish:hover, input.finish:hover {
  background-color: #f1faee;
  cursor: default;
}

td.finish, p.finish {
  color: #e63946;
}
