/* I've ordered the selectors according to where the elements appear in the HTML document, to make it easier for me to find the elements I'm looking for */
/* Styles for the finish class have been placed at the bottom, so they'll overide other styles */

/* Body Styling */
body {
  background-color: #a8dadc;
  color: #000042;
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.5s;
}

/* Container Styling */
#container {
  background-color: #f1faee;
  width: 85%;
  margin: 50px auto;
  padding: 50px 5px;
  border-radius: 20px;
}

/* Header Styling */
h1 {
  width: 80%;
  text-align: center;
  letter-spacing: 5;
  margin: 0 auto;
  font-size: 6rem;
  border-bottom: 15px solid #a8dadc;
  transition: border-color 0.5s;
}

h1.finish {
  border-bottom: 15px solid #e63946;
}

/* Main Styling */
main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* General Section Styling */

section {
  margin: 0 auto;
}

/* Game Controls Styling */

#game-controls {
  width: 500px;
}

/* Sub-Headings and Button Styling */

h2 {
  letter-spacing: 2;
  margin: 0 0 10px 0;
  font-size: 3rem;
  line-height: 1;
  display:inline-block;
}

/* Button styles, note: some button styles are grouped with input styles further down */
button {
  background-color: #e63946;
  color: #f1faee;
  padding: 2%;
  border-radius: 15px;
  font-size: 2rem;
  transition: display 0.5s;
  display: none;
  width: 150px;
  margin-left: 20px;
}

#restart {
  margin-left: 30px;
}

button:hover {
  background-color: #a60906;
  cursor: pointer;
}

/* Input Styling*/

input, button {
  border: none;
  outline: none;
}

input {
  background-color: inherit;
  width: 100px;
  color: inherit;
  border-bottom: 2px solid #000042;
  font-size: inherit;
  text-align: center;
  font-weight: 600;
}

input:hover {
  background-color: #a8dadc;
  cursor: pointer;
}

input:disabled {
  color: grey;
  border-bottom: 2px solid grey;
  background-color: inherit;
  cursor: default;
}

/* Paragraph and Span Styling */

p {
  font-size: 1.5rem;
  text-align: justify;
  display: inline-block;
}

span {
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}

#game-info {
  margin: 40px 0 80px 0;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
}

#game-info span {
  font-size: 2.2rem;
}

#player-one-wins {
  width: 40%;
}

#player-two-wins {
  margin-left: 7%;
}

/* Board Styling */

table {
  border-collapse: collapse;
  width: 540px;
  height: 540px;
}

td {
  color: #f1faee;
  height: 33%;
  /* height: 25% */
  width: 33%;
  /* width: 25%; */
  border: 5px solid #1d3557;
  text-align: center;
  font-size: 2rem;
  transition: color 0.5s;
}

td:hover {
  color: #a8dadc;
  background-color: #a8dadc;
  cursor: pointer;
}

/* Finish class styles */
body.finish {
  background-color: #e63946;
}

button.finish {
  display: inline-block;
}

td.finish, p.finish {
  color: #e63946;
}

td.finish:hover, input.finish:hover {
  background-color: #f1faee;
  cursor: default;
}
